<p><%=
   if(comment.email.nil?)
      comment.author
   else
      mail_to comment.email, comment.author
   end
   %> said:</p>

<blockquote>
   <%= comment.body %>
</blockquote>

<%= link_to 'Destroy', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
